__pychache__/
db.sqlite3
migrations/
env
node_modules
accounts/__pychache__
accounts/migrations
profiles/__pychache__
profiles/migrations
tweets/__pychache__
tweets/migrations
twitter_clone_back/__pychache_
static
static-root
.vscode