{% extends "base.html" %}

{% block content %}

<style>

    body {
        align-items: center;
        justify-content: center;
        background-color: lightblue;
    }
    .auth-container {
        align-items: center;
        justify-content: center;
        background-color: lightblue;
    }

    .auth-container__inner {
        background-color: white;
        margin-top: 30px;
        margin-left: 100px;
        width: 900px;
        border: 1px solid rgba(0, 0, 0, .075);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 10px;
        border-radius: 5px;
    }

    p {
        font-weight: 500;
    }

    label {
        font-weight: 500;
    }
</style>

<div class='auth-container'>
    <div class='auth-container__inner'>
        <h1>{{title}}</h1>
        {% if description %}
        <p>{{description}}</p>
        {% endif %}
        {% include "components/form.html" with form=form btn_label=btn_label %}
    </div>
</div>

{% endblock content %}